@import "../_config/variables.scss";
@import "../_config/mixins.scss";

button,
a.button,
[type="submit"],
[type="reset"] {
  @include transition("border-color, color, background-color");
  cursor: pointer;
  display: inline-block;
  padding: #{$ratio/2}em #{$ratio}em;
  border-radius: 0;
  text-transform: uppercase;
  text-align: center;
  font-family: $font-mono-family;
  font-weight: $font-mono-weight-bold;
  border: 2px solid $color-info-light;
  color: $color-info-black;
  background-color: $color-info-light;

  &:hover,
  &:focus {
    color: $color-info-white;
    border-color: $color-info-dark;
    background-color: $color-info-dark;
  }

  &:focus {
    outline: 1px solid $color-primary;
  }

  &.primary {
    color: $color-primary-black;
    border-color: $color-primary;
    background-color: $color-primary;

    &:hover,
    &:focus {
      color: $color-primary-white;
      border-color: $color-primary-dark;
      background-color: $color-primary-dark;
    }
  }

  &.success {
    color: $color-success-black;
    border-color: $color-success;
    background-color: $color-success;

    &:hover,
    &:focus {
      color: $color-success-white;
      border-color: $color-success-dark;
      background-color: $color-success-dark;
    }
  }
}
