@import "../_config/variables.scss";
@import "../_config/mixins.scss";

#destinations {
  .planets {
    &-outer {
      background-color: $color-dark;
      background-image: radial-gradient(
          2px 2px at 20px 30px,
          #eee,
          rgba(0, 0, 0, 0)
        ),
        radial-gradient(2px 2px at 40px 70px, #fff, rgba(0, 0, 0, 0)),
        radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0, 0, 0, 0)),
        radial-gradient(2px 2px at 90px 40px, #fff, rgba(0, 0, 0, 0)),
        radial-gradient(2px 2px at 130px 80px, #fff, rgba(0, 0, 0, 0)),
        radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0, 0, 0, 0));
      background-repeat: repeat;
      background-size: 200px 200px;
    }

    &-inner {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      align-items: center;
      overflow: hidden;
      max-width: 100%;
      // width: $size-m;
      margin: 0 auto;
      padding: #{$ratio * 2}em;
    }
  }

  .planet {
    @include transition("transform, opacity", 250ms);
    display: none;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    text-align: center;
    width: 100%;
    transform: scale(1);
    padding: #{$ratio}em;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    text-align: center;
    img {
      display: block;
      width: 100%;
      margin: 0 auto;
    }

    &-name {
      position: absolute;
      bottom: -1em;
      left: 0;
      right: 0;
      width: 100%;
    }

    &.selected,
    &.previous,
    &.next {
      display: flex;
    }

    &.selected {
      width: 50%;
      order: 1;
    }

    &.previous,
    &.next {
      width: 25%;
      opacity: 0.75;

      &:focus,
      &:hover {
        opacity: 0.9;
      }
    }

    &.next {
      order: 2;
    }

    &.previous {
      order: 0;
    }

    &:focus,
    &:hover {
      transform: scale(1.1);

      .planet-name {
        text-decoration: underline;
      }

      &:active {
        @include transition("transform", 50ms);
        transform: scale(1);
      }
    }
  }

  .planet-info-wrapper {
    display: block;
    margin: 0 auto;
    padding: #{$ratio}em #{$ratio * 2}em;
    max-width: 100%;
    margin: 0 auto;
  }

  .planet-info {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: #{$ratio}em;
    grid-template-areas:
      "pg1 pg1 pg1 pg1 pg1 pg1 pg1 pg1 pgm pgm pgm pgm"
      "pst pst pst pst pst pst pst pst pst pst pst pst"
      "pg2 pg2 pg2 pg2 pg2 pg2 pg2 pg2 pg2 pg2 pg2 pg2";

    @media screen and (min-width: $size-l) {
      grid-template-areas:
        "pg1 pg1 pg1 pg1 pg1 pg1 pg1 pg1 pgm pgm pgm pgm"
        "pst pst pst pst pst pst pg2 pg2 pg2 pg2 pg2 pg2";
    }
  }

  .planet-info-tab {
    // padding: 0 #{$ratio/4}em;

    &.planet-general-1 {
      grid-area: pg1;
    }

    &.planet-general-2 {
      grid-area: pg2;
    }

    &.planet-moons {
      grid-area: pgm;
    }

    &.planet-specs {
      padding: 0;
      grid-area: pst;
    }
  }

  .planet-specs {
    h6 {
      // padding: 0 #{$ratio/4}em;
    }

    table {
      width: 100%;

      tr {
        border-bottom: 1px solid $color-gray7;

        &:last-child {
          border-bottom: 0;
        }
      }

      th,
      td {
        font-family: $font-mono-family;
        font-weight: $font-mono-weight;
        line-height: 1 + $ratio/4;
      }

      th {
        text-align: left;
        border-right: 1px solid $color-gray7;
        // padding: #{$ratio/8}em #{$ratio/4}em #{$ratio/8}em #{$ratio}em;

        &:only-child {
          padding: #{$ratio/4}em 0 #{$ratio/8}em;
          line-height: $ratio;
          font-weight: $font-mono-weight-bold;
        }
      }

      td {
        text-align: right;
        // padding: #{$ratio/8}em #{$ratio/4}em;
      }
    }
  }
}
