@import "../_config/variables.scss";
@import "../_config/mixins.scss";

#destinations {
  max-width: 100%;
  width: 40em;
  display: block;
  margin: 0 auto;

  .planets {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
    padding: 3em;

    .planet {
      @include transition("transform", 250ms);
      display: none;
      flex-direction: column-reverse;
      flex-shrink: 0;
      text-align: center;
      width: 100%;
      transform: scale(1);
      padding: 1em;
      background-color: transparent;
      border: 0;
      outline: 0;
      cursor: pointer;

      &-name {
        position: absolute;
        bottom: -1em;
        left: 0;
        right: 0;
        width: 100%;
      }

      &.selected,
      &.previous,
      &.next {
        display: flex;
      }

      &.selected {
        width: 50%;
        order: 1;
      }

      &.previous,
      &.next {
        width: 25%;
        opacity: 0.5;

        &:focus,
        &:hover {
          opacity: 0.75;
        }
      }

      &.next {
        order: 2;
      }

      &.previous {
        order: 0;
      }

      &:focus,
      &:hover {
        transform: scale(1.1);

        .planet-name {
          text-decoration: underline;
        }

        &:active {
          @include transition("transform", 50ms);
          transform: scale(1);
        }
      }
    }
  }
}
