#a11y-testing {
  width: 45em;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.a11y-colors-white {
  color: #fff;
  padding: 0;

  li {
    padding: 1em 2em;
  }
}
.a11y-colors-black {
  color: #000;
  padding: 0;

  li {
    padding: 1em 2em;
  }
}

.a11y-colors {
  &-primary {
    background-color: $color-primary;
  }
  &-primary-white {
    background-color: $color-primary-white;
  }
  &-primary-light {
    background-color: $color-primary-light;
  }
  &-primary-black {
    background-color: $color-primary-black;
  }
  &-primary-dark {
    background-color: $color-primary-dark;
  }
  &-accent {
    background-color: $color-accent;
  }
  &-accent-white {
    background-color: $color-accent-white;
  }
  &-accent-light {
    background-color: $color-accent-light;
  }
  &-accent-black {
    background-color: $color-accent-black;
  }
  &-accent-dark {
    background-color: $color-accent-dark;
  }
  &-error {
    background-color: $color-error;
  }
  &-error-white {
    background-color: $color-error-white;
  }
  &-error-light {
    background-color: $color-error-light;
  }
  &-error-black {
    background-color: $color-error-black;
  }
  &-error-dark {
    background-color: $color-error-dark;
  }
  &-warning {
    background-color: $color-warning;
  }
  &-warning-white {
    background-color: $color-warning-white;
  }
  &-warning-light {
    background-color: $color-warning-light;
  }
  &-warning-black {
    background-color: $color-warning-black;
  }
  &-warning-dark {
    background-color: $color-warning-dark;
  }
  &-success {
    background-color: $color-success;
  }
  &-success-white {
    background-color: $color-success-white;
  }
  &-success-light {
    background-color: $color-success-light;
  }
  &-success-black {
    background-color: $color-success-black;
  }
  &-success-dark {
    background-color: $color-success-dark;
  }
  &-info {
    background-color: $color-info;
  }
  &-info-white {
    background-color: $color-info-white;
  }
  &-info-light {
    background-color: $color-info-light;
  }
  &-info-black {
    background-color: $color-info-black;
  }
  &-info-dark {
    background-color: $color-info-dark;
  }
}
