@import "config/variables.scss";

body {
  background-color: $color-bg;
  color: $color-fg;
}

a {
  color: $color-links;
}

.skip-to-link {
  position: absolute;
  opacity: 0;
  padding: 5px 10px;
  color: $color-hc-fg;
  background-color: $color-hc-bg;

.skip-to-link:focus {
  position: relative;
  opacity: 1;
}

table tr {
  cursor: pointer;

  &:hover {
    color: $color-primary-black;
    background-color: $color-primary;
  }
}
