@import "_config/variables.scss";
@import "_config/mixins.scss";

html {
  font-size: #{$base}px;
}

body {
  background-color: $color-bg;
  color: $color-copy;
  font-size: $font-size;
  line-height: $line-height;
  font-family:$font-copy-family;
  font-weight:$font-copy-weight;

  @media screen and (min-width: 40em) {
    font-size: $font-size-desktop;
  }
}

a {
  @include transition("color", 250ms);
  position: relative;
  color: $color-links;
  text-decoration: none;

  &:after {
    @include transition("width", 350ms);
    content: " ";
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    background-color: $color-links-hover-fg;
  }

  &:focus,
  &:hover {
    color: $color-links-hover-fg;
    background-color: $color-links-hover-bg;

    &:after {
      left: 0;
      right: auto;
      width: 100%;
    }
  }

  &:focus {
    outline: $color-links-hover-fg auto 2px;
  }

  // Remove the fancy effect on buttons and skip-to-links
  &.button:after,
  &.skip-to-link:after {
    content: none;
    display: none;
  }
}

.skip-to-link {
  display: block;
  position: absolute;
  left: -100vw;
  opacity: 0;
  padding: 5px 10px;
  color: $color-hc-fg;
  background-color: $color-hc-bg;
  outline: none;
  border: 0.1em solid $color-hc-fg;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1;
  font-weight: 700;
  padding: 0.25em 0.5em;
  margin: 0.5em;
  word-break: break-all;
  z-index: 999;

  &:focus {
    opacity: 1;
    left: 0;
    color: $color-hc-fg;
    background-color: $color-hc-bg;
  }
}

table tr {
  cursor: pointer;

  &:hover {
    color: $color-primary-black;
    background-color: $color-primary;
  }
}

@import "_modules/typography.scss";

@import "_config/a11y-testing.scss";
