body {
  background-color: #282c34;
  background-color: red;
  color: #fff;
}

a {
  color: #00ffff;
}

.skip-to-link {
  position: absolute;
  opacity: 0;
  padding: 5px 10px;
  background-color: #000;
}

.skip-to-link:focus {
  position: relative;
  opacity: 1;
}

table tr:hover {
  cursor: pointer;
  color: #00ffff;
  background-color: #000;
}
