// Colors
$color-red: #f52c1e;
$color-orange: #ebb03b;
$color-yellow: #fce30a;
$color-blue: #5871ce;
$color-green: #58d39d;

$color-gray1: #252726;
$color-gray2: #3f3840;
$color-gray3: #53525c;
$color-gray4: #676d78;
$color-gray5: #8f949f;
$color-gray6: #c4c6cc;
$color-gray7: #f0f1f0;

$color-light: #fff;
$color-dark: #000;

// Brand colors
$color-primary: #eb583b;
$color-primary-white: lighten($color-primary, 30%);
$color-primary-light: lighten($color-primary, 10%);
$color-primary-black: darken($color-primary, 45%);
$color-primary-dark: darken($color-primary, 15%);
$color-accent: $color-blue;
$color-accent-white: lighten($color-accent, 30%);
$color-accent-light: lighten($color-accent, 10%);
$color-accent-black: darken($color-accent, 45%);
$color-accent-dark: darken($color-accent, 15%);
$color-error: $color-red;
$color-error-white: lighten($color-error, 30%);
$color-error-light: lighten($color-error, 10%);
$color-error-black: darken($color-error, 45%);
$color-error-dark: darken($color-error, 15%);
$color-warning: $color-orange;
$color-warning-white: lighten($color-warning, 30%);
$color-warning-light: lighten($color-warning, 10%);
$color-warning-black: darken($color-warning, 45%);
$color-warning-dark: darken($color-warning, 15%);
$color-success: $color-green;
$color-success-white: lighten($color-success, 30%);
$color-success-light: lighten($color-success, 10%);
$color-success-black: darken($color-success, 45%);
$color-success-dark: darken($color-success, 15%);
$color-info: $color-gray5;
$color-info-white: $color-gray7;
$color-info-light: $color-gray6;
$color-info-black: $color-gray1;
$color-info-dark: $color-gray4;

// Site elements colors
$color-bg: $color-gray7;
$color-hc-fg: #000;
$color-hc-bg: #fff;

$color-headings: $color-gray2;
$color-copy: $color-gray3;
$color-copy2: $color-gray4;

$color-links: $color-accent-dark;
$color-links-hover-fg: $color-primary-dark;
$color-links-hover-bg: transparent;

// Typography
$base: 16;
$ratio: 1.2;
$font-size: 1em;
$font-size-desktop: 1.2em;
$line-height: $ratio * $ratio * $ratio;

$font-headings-family: ibm-plex-mono, axia, sans-serif;
$font-headings-weight-bold: 700;
$font-headings-weight-regular: 700;
$font-headings-weight-light: 700;
$font-headings-weight: $font-headings-weight-regular;

$font-copy-family: axia, sans-serif;
$font-copy-weight-bold: 700;
$font-copy-weight-regular: 400;
$font-copy-weight-light: 300;
$font-copy-weight: $font-copy-weight-light;

$font-mono-family: ibm-plex-mono, axia, monospace;
$font-mono-weight-bold: 700;
$font-mono-weight-regular: 400;
$font-mono-weight-light: 400;
$font-mono-weight: $font-mono-weight-regular;

// Structure
$size-s: #{$ratio * 28}em;
$size-m: #{$ratio * 38}em;
$size-l: #{$ratio * 58}em;

$size-nav-height: #{$ratio * 3}em;

// Other
